.Loading {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.Loading .Loading__cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: Loading--animation 1.3s infinite ease-in-out;
  animation: Loading--animation 1.3s infinite ease-in-out;
}

.Loading .Loading__cube--1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.Loading .Loading__cube--2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.Loading .Loading__cube--3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.Loading .Loading__cube--4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.Loading .Loading__cube--5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.Loading .Loading__cube--6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.Loading .Loading__cube--7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.Loading .Loading__cube--8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.Loading .Loading__cube--9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes Loading--animation {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes Loading--animation {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}